
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Create.')">
    <meta charset="UTF-8">
</head>
<body>
<div id="create-main">
<nav th:replace="fragments/navbar :: navbar" />
    <div class="card container" id="create-post-container">
<div class="container">
    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        <label for="title" id="create-post-title" class="text-center">Title</label>
        <input id="create-post-title-field" th:field="*{title}" />
        <br />
        <label for="description" id="create-post-description" class="text-center">Description</label>
        <input id="create-post-description-field" th:field="*{description}" />
        <br />
        <button class="hello" id="submit-created-post-button">Submit.</button>
    </form>
</div>
</div>
</div>
</body>
</html>