<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Change.')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="edit-delete-main">
<nav th:replace="fragments/navbar :: navbar" />
<div class="container">
    <div class="card container">

    <form th:action="${'/posts/' + post.id + '/edit'}" th:method="POST" th:object="${post}">
        <label for="title" id="edit-post-title" class="text-center">Title</label>
        <input type="text" id="input-edit-title" th:field="*{title}">
        <label for="description" id="edit-post-description" class="text-center">Description</label>
        <input type="text" id="input-edit-description" th:field="*{description}">
        <button class="hello" id="submit-edit-button">Save changes</button>
    </form>

    <form th:action="${'/posts/' + post.id + '/delete'}" method="post">
        <button class="hello" id="delete-button">Delete</button>
    </form>
</div>
</div>
</div>
</body>
</html>