<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Blog | All Posts')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar" />
<div class="container">
    <div th:if="${post == null}">
        Post not found.
    </div>
    <div th:if="${post}">
        <div th:text="${post.id}">ID</div>
        <h3 th:text="${post.title}">Title</h3>
        <div th:text="${post.body}">Description</div>
    </div>
</div>
</body>
</html>