<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head('View Posts')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar" />
<div class="container">
<!--    <div th:if="${post == null}">-->
<!--        Post not found.-->
<!--    </div>-->
    <div th:if="${posts}">
        <div th:text="${id}">ID</div>
        <h3 th:text="${posts.title}">Title</h3>
        <div th:text="${posts.body}">Description</div>
        <div>Created by <span th:text="${users.owner_id}"></span></div>
    </div>
</div>
</body>
</html>