<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Enter.')">
    <meta charset="UTF-8" />
</head>
<body>
<div id="login-main">
<!--<nav th:replace="fragments/navbar :: navbar" />-->
<h1 class="text-center" id="login-header">Log In</h1>
<div id="login-warning-text" class="text-center flicker-fast" th:if="${param.error}">
    Invalid Username and Password.
</div>
<div id="logout-text" class="text-center flicker-fast" th:if="${param.logout}">
    You have logged out.
</div>
<div id="login-forms">
<form th:action="@{/login}" method="post" class="text-center">
    <label for="username" class="login-labels">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password" class="login-labels">Password</label>
    <input id="password" name="password" type="password" />
    <input type="submit" value="Login" />
</form>
</div>
</div>
</body>
</html>