<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Enter.')">
    <meta charset="UTF-8" />
</head>
<body>
<div id="login-main">
<nav th:replace="fragments/navbar :: navbar" />
<!--<h1 class="neon-small text-center" id="login-header">Log In</h1>-->
<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div id="login-forms">
<form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <input type="submit" value="Login" />
</form>
</div>
</div>
</body>
</html>