/*Neon colors*/
/*#fcca47 - light yellow orange*/
/*#fdab3b - light orange*/

/*Navbar styling */

#main-navbar {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

#main-navbar > a {
    color: white!important;
}



/*Homepage Styling*/

#home-main {
    height: 100vh;
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
    background-image: linear-gradient(
            to right bottom,
            rgba(13, 23, 50, 0.7),
            rgba(37, 132, 102, 0.7)), url("/img/teal-board.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.neon{
    font-family: 'Monoton', cursive;
    font-size:8em;
    color: #e0830d;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    letter-spacing: 8px;
    text-shadow: 1px 0px 4px #ff8c00, 2px 0px 4px #ef9b06, 3px 0px 4px #ffbf00, 2px 0px 3px #ff8400, 2px 3px 15px #e37a0e, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #ffbf04,40px 0vw 200px #ff9c00;
}
/*FFFFBF00*/

/*Taglines or small headers*/
.neon-small {
    font-family: 'Monoton', cursive;
    font-size: 50px;
    color: #e0830d;
    position: absolute;
    transform: translate(-50%, -50%);
    text-shadow: 1px 0px 4px #ff8c00, 2px 0px 4px #ef9b06, 3px 0px 4px #ffbf00, 2px 0px 3px #ff8400, 2px 3px 15px #e37a0e, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #ffbf04,40px 0vw 200px #ff9c00;
}

.flicker-slow{
    animation: flicker 4s linear infinite;
}

.flicker-fast{
    animation: flicker 2s linear infinite;
}

@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    //text-shadow: none;
        opacity: .99;

    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
    }
}

#login {
    position: absolute;
    top: 58%;
    left: 37%;
}

#signup {
    position: absolute;
    top: 58%;
    left: 52%;
}

/*
*/
#posts {
    position: absolute;
    top: 58%;
    left: 44%;
}

.hello:hover {
    letter-spacing: 0.8em;
    background-color: rgba(255, 255, 255, 0.7);
    /*background-color: rgba(255, 156, 0, 0.7);*/
    font-weight: bolder;
}

.hello > a{
    color: rgb(25, 78, 78) !important;
    font-size: 1.25em;
    text-decoration: none;
    /*text-shadow: 1px 1px 3px #000000;*/

}
button {
    font-family: 'Monoton', cursive;
    height: 4em;
    width: 12%;
    padding: 1.25em;
    margin: 1em auto;
    background-color: rgba(255, 255, 255, 0.5);
    /*background-color: rgba(255, 156, 0, 0.6);*/
    border: 1px solid rgba(19, 62, 62, 0.6);
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
    box-shadow: 1px 1px 1px rgba(19, 62, 62, 0.5);
}

/*Login page styling*/

#login-main {
    height: 100vh;
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
    background-image:
    url("/img/enter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: top;*/
}

#login-header {
    color: white;
    font-family: 'Monoton', cursive;
    text-shadow: 3px 3px 5px #000000;
    font-size: 4em;
    padding-top: 5%;
    /*padding-bottom: 2%;*/
}

.login-labels {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.25em;
    text-shadow: 3px 3px 5px #000000;
}

#logout-text, #login-warning-text {
    color: white;
    font-family: 'Monoton', cursive;
    text-shadow: 3px 3px 5px #000000;
    font-size: 2em;
    padding-top: -6%;

}




/*Signup Styling*/

#signup-main {
    height: 100vh;
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url("/img/room-small.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: 1000;
}

#sign-background {
    background-color: #25363d;
    background-image: linear-gradient(
            to bottom,
            #25363d 90%,
            rgb(255, 120, 57),
            #f7ece3
    );
}

#signup-header {
    color: white;
    font-family: 'Monoton', cursive;
    text-shadow: 3px 3px 5px #000000;
    font-size: 4em;
    padding-top: 5%;
    padding-bottom: 2%;
}

.signup-labels {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.25em;
    text-shadow: 3px 3px 5px #000000;
}





