/*Neon colors*/
/*#fcca47 - light yellow orange*/
/*#fdab3b - light orange*/




/*body{*/
/*    background: #000;*/
/*}*/

#home-main {
    height: 100vh;
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url("/img/teal-board.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.neon{
    font-family: 'Monoton', cursive;
    font-size:130px;
    color: #e0830d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    letter-spacing: 8px;
    text-shadow: 1px 0px 4px #ff8c00, 2px 0px 4px #ef9b06, 3px 0px 4px #ffbf00, 2px 0px 3px #ff8400, 2px 3px 15px #e37a0e, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #ffbf04,40px 0vw 200px #ff9c00;
}

.flicker-slow{
    animation: flicker 3s linear infinite;
}

.flicker-fast{
    animation: flicker 1s linear infinite;
}

@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    //text-shadow: none;
        opacity: .99;

    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
    }
}

